<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-col class="logologin">
    <img src="../../assets/images/logo/logoselection.png">
  </ion-col>


  <ion-card>

    <ion-card-title> Ingrese su cuenta </ion-card-title>

    <ion-card-content>

      <ion-col>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [(ngModel)]="credenciales.correo_electronico" type="email"></ion-input>
      </ion-col>

      <br>

      <ion-col>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="credenciales.password" type="password"></ion-input>
      </ion-col>

      <ion-button class="iniciar" expand="block" (click)="login()">Iniciar sesión</ion-button>

    </ion-card-content>

    <a routerLink="/registro">
      <p class="create-account">Crea tu cuenta</p>
    </a>

  </ion-card>

</ion-content>