<ion-header>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-reportes"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>

    <ion-card-title>Agregar Publicidad</ion-card-title>
    <ion-card-content>

      <ion-col>
        <ion-label position="floating">Nombre de la Publicidad</ion-label>
        <ion-input type="text" [(ngModel)]="publicidad.name_pbli"></ion-input>
      </ion-col>

      <ion-col>
        <ion-label position="floating">URL de la Publicidad</ion-label>
        <ion-input type="text" [(ngModel)]="publicidad.url_pbli"></ion-input>
      </ion-col>

      <ion-col>
        <ion-label position="floating">Imagen de la Publicidad</ion-label>
        <br>
        <input type="file" (change)="convertirImagenABase64($event)">
      </ion-col>

      <ion-button class="confirmar" expand="block" (click)="agregarPublicidad()">Agregar Publicidad</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>