.background {
    --background: rgb(255, 255, 255);
}


ion-back-button {
    color: rgb(0, 0, 0);
}

ion-header {
    background: rgb(255, 255, 255) !important;
}

ion-card {
    --background: transparent;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    margin-left: 18%;
    top: 10%;

    ion-card-title {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: bold;
    }
}

ion-card-content {

    ion-item {
        --background: transparent;
        --border-color: transparent;
        width: 80%;
        /* Establece el ancho al 100% del ion-list */
        height: auto;
        --padding-start: 7%;
        /* Elimina el padding inicial predeterminado */
        --padding-end: 7%;
        left: 11%;

        ion-label {
            font-size: 25px;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }

        ion-range {
            color: rgb(0, 0, 0);
            --bar-background: rgb(57, 183, 206);
            --bar-background-active: rgb(9, 32, 92);
            --bar-height: 5px;
            --bar-border-radius: 8px;
            --knob-size: 25px;
            --pin-background: rgb(0, 0, 0);
            --pin-color: rgb(0, 0, 0);
        }

        ion-badge {
            background: rgb(9, 32, 92);
            font-size: 16px;
            color: rgb(255, 255, 255);
        }

        ion-textarea {
            border-color: transparent;
            color: rgb(0, 0, 0);
            
        }
    }

    .agregrese {
        --background: rgb(9, 32, 92);
        /* Color de fondo azul para el botón */
        --border-radius: 6px;
        --color: #ffffff;
        /* Puedes ajustar el color del texto si es necesario */
        font-weight: bold;
        font-size: 18px;
        width: 40%;
        height: auto;
        margin-right:5%;
        margin-left: 30%;
    }
}










/* Pantallas de escritorio más grandes */
@media only screen and (min-width: 1000px) {
    ion-card {

        width: 65%;
        height: auto;

    }

}