<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logohome" src="../../assets/images/logo/logohome.png">
    </ion-title>

    <ion-buttons *ngIf="!isUserLoggedIn()" slot="end">
      <ion-button (click)="goToLogin()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="isUserLoggedIn()" slot="end">
      <ion-button (click)="goToPerfil()">
        <ion-icon name="body-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="logout()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-grid class="publicidad">
    <ion-row>
      <ion-col  *ngFor="let publicidad of publicidades">
        <a [href]="'http://' + publicidad.url_pbli" target="_blank">
          <ion-img [src]="publicidad.img_publicidad"></ion-img>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar placeholder="Buscar productos" [(ngModel)]="busquedaPalabraClave"
    (ionInput)="filtrarProductos()"></ion-searchbar>
  <ion-button class="buscar" expand="full" (click)="filtrarProductos()">Buscar</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3" *ngFor="let producto of filteredProductos">
        <ion-card>
          <ion-card-content>
            <h2>{{ producto.nombre_producto }}</h2>
            <img [src]="producto.img_producto" alt="Imagen del producto">
            <p>Precio: {{ producto.precio }}</p>
            <p>{{producto.nombre_empresa}}</p>
            <p>{{producto.nombre_categoria}}</p>
            <p>{{producto.nombre_comuna}}</p>
            <ion-button class="verproducto" (click)="goToVerProducto(producto.id_producto)">VER PRODUCTO</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="footer">
    <ion-toolbar>
      <ion-title>Contáctanos</ion-title>
    </ion-toolbar>
    
    <div>
      <ion-toolbar class="infof">
        <ion-item lines="none">
          <ion-icon slot="start" name="call"></ion-icon>
          <a href="tel:+1234567890"> 
            <ion-label>Línea telefónica: +1234567890</ion-label>
          </a>
        </ion-item>
      </ion-toolbar>
    
      <ion-toolbar class="infof">
        <ion-item lines="none">
          <ion-icon slot="start" name="mail"></ion-icon>
          <a href="mailto:info@example.com"> <!-- Enlace para enviar correo electrónico -->
            
            <ion-label>Correo electrónico: info&#64;example.com</ion-label>
          </a>
        </ion-item>
      </ion-toolbar>
    </div>

    <div class="social-icons"> <!-- Contenedor para los íconos de redes sociales -->

        <a href="https://www.facebook.com/tu_pagina">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
        </a>
        
        <a href="https://twitter.com/tu_cuenta">
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
        </a>



        <a href="https://Whatsapp.com">
          <ion-icon slot="start" name="logo-Whatsapp"></ion-icon>
        </a>

        <a href="https://www.instagram.com">
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
        </a>

    </div>

  </ion-footer>
  

  
  

</ion-content>
