#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.publicidad {
  background: transparent;
  margin-left: 7%;


  .publi {
    a {
      ion-img {
        width: 80%;
      }
    }
    
  }
  
}

ion-card {
  --background: transparent;
  border-radius: 30px;
  border: 3px solid black;
  margin-left: 5%;


  ion-card-content {
    --background: transparent;
  }
}


.background {
  --ion-background-color: #ffffff;
}

ion-header {
  background: #FFFFFF !important;

  ion-toolbar {
    --background: var(--background);
  }

  ion-icon {
    color: rgb(0, 0, 0);
    font-size: 35px;
    top: 2%;
    left: 10%;
  }
}


ion-content {

  ion-searchbar {
    background: transparent;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 50%;
    --border-radius: 10px;
    left: 27%;
  }

  .buscar {
    --background: rgb(9, 32, 92);
    --border-radius: 4px;
    --color: #ffffff;
    --padding: 13px 20px;
    font-size: 16px;
    width: 15%;
    margin-left: 45%;
    top:10%;
  }


  ion-grid {
    padding: 0;
  }

  ion-row {

    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-card {
        display: block;
        width: 80%;

        ion-card-content {

          h2,
          p {
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 18px;
          }

          img {
            width: 100%;
            height: auto;
            border-radius: 5%;
          }

          .verproducto {
            --background: rgb(9, 32, 92); /* Color de fondo azul para el botón */
            --border-radius: 4px; /* Bordes redondeados para el botón */
            --color: #ffffff; /* Color de texto blanco para el botón */
            --padding: 13px 20px; /* Espaciado interno para el botón */
            font-weight: 400; /* Peso de la fuente */
            font-size: 16px; /* Tamaño de la fuente */
            width: 65%; /* El botón ocupa todo el ancho posible */
            text-transform: none; /* Evita la transformación de texto por defecto */
            margin-top: 15px; /* Espacio por encima del botón */
            margin-left: 17%;
            height: 50px; /* Altura específica para el botón */
            display: block; /* Asegura que el botón sea un bloque para aplicar anchura y altura */
            justify-content: center;
            align-items: center;
          }
          }

        }
       
      }
    }
  }


@media only screen and (min-width: 1000px) {
  ion-col[size="12"] {
    max-width: calc(20% - 16px); // Asumiendo un padding de 8px a cada lado
    flex: 0 0 calc(20% - 16px); // Asumiendo un padding de 8px a cada lado
  }
}


/*@media only screen and (min-width: 1000px) {
  ion-card {
    max-width: 40%; // Establece una anchura máxima para las tarjetas en pantallas más grandes
    margin: auto; // Centra la tarjeta si es menor que el ancho disponible
  }
}



/* Pantallas de escritorio más grandes 
@media only screen and (min-width: 1000px) {

  ion-card {
      width: 50%;
      height: 100%;
      margin-top: 5%;

  }


}*/