<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SELECTION
    </ion-title>
    <ion-buttons *ngIf="!isUserLoggedIn()" slot="end">
      <ion-button (click)="goToLogin()">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="isUserLoggedIn()" slot="end">
      <ion-button (click)="goToPerfil()" >
        <ion-icon name="body-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="isUserLoggedIn()" slot="end">
      <ion-button (click)="logout()" >
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Agregar un componente de lista para mostrar los productos -->
  <ion-list>
    <!-- Utiliza *ngFor para iterar a través de la lista de productos -->
    <ion-item *ngFor="let producto of productos">
      <!-- Muestra los detalles del producto, puedes personalizar esto según tus necesidades -->
      <ion-label>
        <h2>{{ producto.nombre_producto }}</h2>
        <p>Precio: {{ producto.precio }}</p>
        <ion-thumbnail slot="start">
          <img [src]="producto.img_producto" alt="Imagen del producto">
  
        </ion-thumbnail>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
