<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/perfil-usuario"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content >



  <ion-grid fixed>
    <ion-row>
      <ion-col><strong>Rut Empresa</strong></ion-col>
      <ion-col><strong>Nombre Empresa</strong></ion-col>
      <ion-col><strong>Dirección</strong></ion-col>
      <ion-col><strong>Teléfono</strong></ion-col>
      <ion-col><strong>Editar Empresa</strong></ion-col>
      <ion-col><strong>Ver Productos</strong></ion-col>

    </ion-row>

    <ion-row *ngFor="let empresa of empresas">
      <ion-col>{{ empresa.rut_empresa }}</ion-col>
      <ion-col>{{ empresa.nombre_empresa }}</ion-col>
      <ion-col>{{ empresa.direccion }}</ion-col>
      <ion-col>{{ empresa.telefono_empresa }}</ion-col>
      <ion-col><ion-icon name="pencil-outline"></ion-icon></ion-col>
      <ion-col><ion-icon name="document-text-outline"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="empresas.length === 0">
    <p>No se encontraron empresas.</p>
  </div>
</ion-content>
