<ion-header>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/listar-empresas"></ion-back-button>
  </ion-buttons>
</ion-header>


    


<ion-content>

  <ion-title> Listado de Productos </ion-title>

  
  <br>
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-thumbnail slot="start">
        <img [src]="producto.img_producto" alt="Imagen del producto">

      </ion-thumbnail>
      <ion-label>
        <h2>{{ producto.nombre_producto }}</h2>
        <p>Precio: {{ producto.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="productos.length === 0">
    No hay productos disponibles
  </ion-button>
</ion-content>

