ion-header {
    background-color: #FFFFFF !important;

    ion-back-button {
        color: rgb(0, 0, 0);
    }
}


ion-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: bold;
}



ion-icon[name="add-outline"] {
    position: absolute; /* Posición absoluta para el ícono dentro de ion-card */
    top: 0.5%; /* Ajusta la distancia desde la parte superior de ion-card */
    right: 30%; /* Ajusta la distancia desde el lado derecho de ion-card */
    font-size: 26px;
    color: rgb(0, 0, 0); /* Color negro para el ícono del lápiz */ 
}

ion-grid {
    width: 90%;
    background: rgb(255, 255, 255);
}

ion-col {
    text-align: center; /* Alinea el texto de las celdas al centro */
    border: 1px solid rgb(22, 22, 22);
    color: rgb(0, 0, 0);
    font-size: 18px;
    max-width: 90%; /* Limita el ancho máximo de la columna */
    overflow: hidden; /* Oculta contenido que excede el tamaño de la celda */
    text-overflow: ellipsis; /* Muestra puntos suspensivos para texto desbordado */
    white-space: nowrap; /* Asegura que el texto no se ajuste en líneas nuevas */

    ion-icon[name="pencil-outline"] {
        position: absolute; /* Posición absoluta para el ícono dentro de ion-card */
        font-size: 30px;
        top: 45%;
        left: 45%;
        color: rgb(0, 0, 0); /* Color negro para el ícono del lápiz */ 
    }

    ion-textarea{
        --background: transparent;
        --color: rgb(0, 0, 0); /* Color negro para el ícono del lápiz */ 
    }
}






/* Pantallas de escritorio más grandes */
@media only screen and (min-width: 1000px) {
    ion-col {
        padding: 15px 0; /* Aumenta el padding vertical para celdas en pantallas más grandes */
        max-width: none; /* Permite que las columnas se expandan en pantallas más grandes */
    }
    ion-grid {
        width: 95%;
    }
}
