.background {
    --ion-background-color: rgb(255, 255, 255);
    /* Establece el color de fondo para ion-content */
}

ion-back-button {
    color: rgb(0, 0, 0);
}

ion-title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: bold;
}

ion-header {
    background-color: #FFFFFF !important;
}