<ion-header>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/listar-empresas"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">

  <ion-title>Listado de Productos</ion-title>
  <ion-icon name="add-outline"></ion-icon>
  
  <br>

  <ion-grid fixed>
    <ion-row>
      <ion-col><strong>Producto</strong></ion-col>
      <ion-col><strong>Precio</strong></ion-col>
      <ion-col><strong>Stock</strong></ion-col>
      <ion-col><strong>Descripción</strong></ion-col>
      <ion-col><strong>Modificar</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let producto of productos">
      <ion-col>
        <ion-img [src]="producto.img_producto" alt="Imagen del producto"></ion-img>
        {{ producto.nombre_producto }}
      </ion-col>
      <ion-col>{{ producto.precio | currency }}</ion-col>
      <ion-col>{{ producto.stock }}</ion-col>
      <ion-col>
        <ion-textarea [disabled]="true"  placeholder="Can't type here"></ion-textarea>
      </ion-col>
      <ion-col>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="productos.length === 0">
    <p>No hay productos disponibles</p>
  </div>
</ion-content>
