<ion-header>
  <ion-toolbar>
    <ion-title>Listar Administradores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="correo_electronico === 'administrador@selection.cl'">
    <ion-item>
      <ion-label><strong>NOMBRE</strong></ion-label>
      <ion-label><strong>CORREO ELECTRONICO</strong></ion-label>
      <ion-label><strong>OPERACION</strong></ion-label>
    </ion-item>
    <ion-item *ngFor="let admin of administradores">
      <ion-label>{{ admin.nombre_completo }}</ion-label>
      <ion-label>{{ admin.correo_electronico }}</ion-label>

      <ion-button color="danger" (click)="eliminarAdministrador(admin.correo_electronico)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <DIV *ngIf="correo_electronico != 'administrador@selection.cl'">
    <H1>NO TIENE PERMISOS</H1>
  </DIV>
</ion-content>