<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/lista-reportes"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-title> Lista Administradores</ion-title>

  <ion-list *ngIf="correo_electronico === 'administrador@selection.cl'">

    <ion-grid>
      <ion-row>
        <ion-col><strong>NOMBRE</strong></ion-col>
        <ion-col><strong>CORREO ELECTRONICO</strong></ion-col>
        <ion-label><strong>OPERACION</strong></ion-label>
      </ion-row>

    </ion-grid>

    <ion-row *ngFor="let admin of administradores">
      <ion-col>{{ admin.nombre_completo }}</ion-col>
      <ion-col>{{ admin.correo_electronico }}</ion-col>

      <ion-button color="danger" (click)="eliminarAdministrador(admin.correo_electronico)">Eliminar</ion-button>
    </ion-row>
  </ion-list>

  <DIV *ngIf="correo_electronico != 'administrador@selection.cl'">
    <H1>NO TIENE PERMISOS</H1>
  </DIV>
</ion-content>