<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">

  <ion-card class="pro" *ngIf="detalleProducto">

    <ion-card-header>
      <ion-card-title>{{ detalleProducto.nombre_producto }}</ion-card-title>
      <h4>Promedio de Valoración: {{ promedioValoracion }}</h4>
      <ion-col size="12">
        <ion-button class="whatsapp-button" target="_blank" href="https://wa.me/569{{ detalleProducto.telefono_empresa }}">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col ffset-lg="1">

            <ion-img [src]="detalleProducto.img_producto" *ngIf="detalleProducto.img_producto"></ion-img>

            <ion-item>
              <ion-label>Precio</ion-label>
              <ion-text>${{ detalleProducto.precio }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Stock</ion-label>
              <ion-text>{{ detalleProducto.stock }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Empresa</ion-label>
              <ion-text>{{ detalleProducto.nombre_empresa }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Categoria</ion-label>
              <ion-text>{{ detalleProducto.nombre_categoria }}</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Direccion</ion-label>
              <ion-text>{{detalleProducto.direccion}},{{ detalleProducto.nombre_comuna }}</ion-text>
            </ion-item>

            

            <ion-list> Descripcion:
              <ion-col>
                <ion-textarea readonly>{{detalleProducto.descripcion}} </ion-textarea>
              </ion-col>
            </ion-list>
            
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Agrega el elemento canvas para el gráfico -->
  <ion-list>
    <ion-item lines="none" class="header-item">
      <ion-label class="header-label">Fecha</ion-label>
      <ion-label class="header-label">Precio</ion-label>
    </ion-item>

    <ion-item *ngFor="let actualizacion of datosGrafico">
      <ion-label class="date-label">{{ actualizacion.fecha_actualizacion | date: 'dd/MM/yyyy' }}</ion-label>
      <ion-label class="price-label">{{ actualizacion.valor }}</ion-label>
    </ion-item>


    <!--boton ver mapa-->
    <ion-button (click)="goToVerMapa(detalleProducto.rut_empresa)">MAPA</ion-button>
    <ion-button (click)="goToCrearReview(detalleProducto.id_producto)">AGREGAR RESEÑA</ion-button>
  </ion-list>


  <ion-card class="res" *ngIf="resenas.length > 0">

    <ion-card-header>
      <ion-card-title>Reseñas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="listita">
        <ion-row>
          <ion-col size="8"><strong>Comentario</strong></ion-col>
          <ion-col size="2"><strong>Valoración</strong></ion-col>
          <ion-col size="2"><strong>Reportar</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let resena of resenas">
          <ion-col size="8">{{ resena.comentario }}</ion-col>
          <ion-col size="2">{{ resena.valoracion }}</ion-col>
          <ion-col size="2">
            <ion-button fill="clear" (click)="reportarResena(resena.id_valoracion)">
              <ion-icon slot="icon-only" name="warning-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <br>

</ion-content>