.background {
    --background: rgb(255, 255, 255);
}


ion-back-button {
    color: rgb(0, 0, 0);
}

ion-header {
    background: rgb(255, 255, 255) !important;
}

ion-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

.pro {
    --background: transparent;
    border-radius: 30px;
    border: 3px solid black;
    margin-left: 15%;

    ion-card-header {

        ion-card-title {
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 30px;
            font-weight: bold;
        }

        .whatsapp-button {
            --background: #25d366;
            --border-radius: 50px;
            display: flex;
            width: 5%;
            height: auto;
            margin-left: 48%;
        
            ion-icon {
              font-size: 30px;
              color: #fff;
            }
          }

    }

    ion-card-content {
        --background: transparent;

        ion-img {
            max-width: 35%;
            height: auto;
            display: block;
            border: 3px solid black;
            /* Añade un borde a la imagen */
            border-radius: 10px;
            /* Añade esquinas redondeadas al borde de la imagen */
        }

        ion-item {
            --background: rgb(218, 221, 228);
            --color: rgb(0, 0, 0);
            --padding-start: 7%;
            /* Elimina el padding inicial predeterminado */
            --padding-end: 7%;
            --border-color: transparent;
            font-weight: bold;
            /*--inner-padding-end: 2%; /* Elimina el padding interno del final */
            /*--inner-border-width: 2%; /* Elimina el borde interno */
            display: flex;
            /* Utiliza flexbox para alinear el contenido */
            width: 55%;
            /* Establece el ancho al 100% del ion-list */
            height: auto;
            top: -50%;
            left: 45%;
            /* Aumenta el margen izquierdo para desplazar el elemento hacia la derecha */

        }

        ion-list {
            width: 70%;
            /* Ajusta al 100% del ancho del ion-card-content */
            height: auto;
            background-color: rgb(218, 221, 228);
            padding-left: 5%;
            color: rgb(0, 0, 0);
            font-size: 20px;
            margin-top: -15%;
            border-color: rgb(0, 0, 0);
            margin-left: 15%;

            ion-item {

                ion-text {
                    font-size: 20px;
                    color: rgb(0, 0, 0);
                    border-color: black;

                }
            }     
        }

    }
}

.listtar {
    --background: rgb(18, 55, 148);
    /* Cambia este color al deseado */
    --border-radius: 6px;
    --color: #ffffff;
    /* Puedes ajustar el color del texto si es necesario */
    font-weight: bold;
    font-size: 18px;
    width: 50%;
    margin-left: 25%;
}

ion-list {
    width: 30%;
    /* Ajusta al 100% del ancho del ion-card-content */
    height: auto;
    background-color: transparent;
    padding-left: 1%;

    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    margin-left: 35%;

    ion-item {
        --background: transparent;
        --color: rgb(0, 0, 0);
        --inner-padding-start: 10%;
        --border-color: transparent;
        font-weight: bold;
        --inner-padding-end: 2%;
        /* Elimina el padding interno del final */
        --inner-border-width: 2%;
        /* Elimina el borde interno */
        display: flex;
        /* Utiliza flexbox para alinear el contenido */
        width: 90%;
        /* Establece el ancho al 100% del ion-list */
        left: 10%;
        /* Aumenta el margen izquierdo para desplazar el elemento hacia la derecha */
    }

    ion-button {
        --background: rgb(18, 55, 148);
        /* Cambia este color al deseado */
        --border-radius: 6px;
        --color: #ffffff;
        /* Puedes ajustar el color del texto si es necesario */
        font-weight: bold;
        font-size: 18px;
        width: 40%;
        height: auto;
        margin-right: 5%;
        margin-left: 3%;

    }
}

.res {
    --background: transparent;
    border-radius: 30px;
    border: 3px solid black;
    margin: auto; // Alinea el card en el centro
    max-width: 80%; // Ajusta el ancho máximo de la tarjeta

    ion-card-title {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bold;
    }

    ion-card-content {
        .listita {
            width: 90%; // Hace que la grilla ocupe el 100% del ancho del card content

            ion-row {
                align-items: center; // Alinea los elementos de la fila verticalmente
                text-align: left; // Alinea el texto a la izquierda para todas las columnas

                ion-col {
                    display: flex; // Aplica flexbox para un mejor control de alineación
                    align-items: center; // Alinea los elementos de la columna verticalmente
                    justify-content: flex-start; // Alinea los elementos al inicio de la columna
                    padding: 10px 0; // Espacio vertical para cada celda
                    color: rgb(0, 0, 0);
                    font-size: 16px;
                    border-bottom: transparent; // Línea divisoria entre filas

                    &:first-child {
                        justify-content: flex-start; // Asegura que el contenido de la primera columna esté al inicio
                    }

                    &:nth-child(2) {
                        justify-content: center; // Centra el contenido de la segunda columna
                    }

                    &:last-child {
                        justify-content: flex-end; // Alinea el contenido de la última columna al final
                    }

                    ion-button {
                        margin: 0; // Elimina márgenes para botones dentro de la columna
                        padding: 0; // Elimina el padding para botones
                    }

                    ion-icon {
                        margin: 0 5px; // Espacio horizontal para iconos
                    }
                }
            }

            ion-row:last-child {
                ion-col {
                    border-bottom: none; // Elimina la línea divisoria de la última fila
                }
            }
        }
    }
}


h4 {
    text-align: center;
    color: rgb(0, 0, 0);
}



@media only screen and (min-width: 1000px) {
    ion-card {
        margin-left: auto;
        margin-right: auto;
        width: 70%;

        ion-card-content {
            flex-direction: row;

            ion-img {
                max-width: auto;
            }

            ion-item {
                max-width: auto;
            }
        }
    }
}