<ion-header>
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">
  <ion-card *ngIf="usuario">
    <ion-card-title> Perfil de Usuario </ion-card-title>
    <ion-icon name="pencil-outline"></ion-icon>
    <ion-card-content>

        <ion-col>
          <ion-label position="stacked">Nombre Completo</ion-label>
          <ion-input [(ngModel)]="usuario.nombre_completo" disabled></ion-input>
        </ion-col>

        <br>

        <ion-col>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="usuario.correo_electronico" disabled></ion-input>
        </ion-col>

        <br>

        <ion-col>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input [(ngModel)]="usuario.telefono" disabled></ion-input>
        </ion-col>

        <br>

        <ion-col>
          <ion-label position="stacked">Último Acceso</ion-label>
          <ion-input [(ngModel)]="usuario.ultimo_acceso" disabled></ion-input>
        </ion-col>

    </ion-card-content>
  </ion-card>

</ion-content>
