.background {
    --background: #ffffff;
}

ion-back-button {
    color: rgb(0, 0, 0);
}

ion-header {
    background-color: #FFFFFF !important;
}

ion-icon[name="pencil-outline"] {
    position: absolute; /* Posición absoluta para el ícono dentro de ion-card */
    top: 2%; /* Ajusta la distancia desde la parte superior de ion-card */
    right: 35%; /* Ajusta la distancia desde el lado derecho de ion-card */
    font-size: 24px;
    color: rgb(0, 0, 0);/* Color negro para el ícono del lápiz */ 
}

ion-card {
    --background: transparent;
    border-radius: 30px;
    border: 3px solid black;
    margin-left: 18%;


    ion-card-content {
        --background: transparent;
    }

    ion-card-title {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: bold;
        
        
    }

    ion-col {

        ion-label {
            color: rgb(0, 0, 0);
            background: transparent;
            font-size: 18px;
        }

        ion-input {
            color: rgb(0, 0, 0);
            background: transparent;
            border-bottom: 2px solid black;
            padding-bottom: 5px;
        }
    }

};

/* Pantallas de escritorio más grandes */
@media only screen and (min-width: 1000px) {

    ion-card {
        width: 65%;
        margin-top: 5%;

    }

    ion-col {
        margin-left: 5%;
    }

    ion-input {
        font-size: 18px;
        width: 83%;
        margin-left: 5%;

    }

}