<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">

  <ion-card>

    <ion-card-title>lista-reportes</ion-card-title>

    <ion-card-content>
      <ul>
        <li *ngFor="let reporte of reportes">
          {{ reporte.estado }} - {{reporte.valoracion}} - {{reporte.comentario}}

          <ion-icon name="checkmark-circle-outline" (click)="modificarandeliminar(reporte.id_reporte,reporte.id_valoracion)">
            ACEPTAR
            REPORTE
          </ion-icon>
          <ion-icon name="close-circle-outline" (click)="eliminarReporte(reporte.id_reporte)">RECHAZAR REPORTE</ion-icon>
        </li>
      </ul>

    </ion-card-content>


  </ion-card>
</ion-content>
