<ion-header>

  <h3 style="color: black;">Hola, {{correo_electronico}}</h3>

  <ion-button (click)="GoToAgregarPublicidad()" shape="round">
    <span>agregar publicidad </span> <ion-icon name="pricetag-outline"></ion-icon>
  </ion-button>

  <ion-button *ngIf="correo_electronico === 'administrador@selection.cl'"  (click)="GoToregistroadmin()"
    shape="round">
    <span>agregar admin </span> <ion-icon name="pricetag-outline"></ion-icon>
  </ion-button>
  <ion-button *ngIf="correo_electronico === 'administrador@selection.cl'" slot="" (click)="GoToListarAdmin()"
    shape="round">
    <span>listar administrador </span> <ion-icon name="pricetag-outline"></ion-icon>
  </ion-button>
  <ion-button  slot="" (click)="GoToAgregarCategoria()"
    shape="round">
    <span>Agregar Categoria </span> <ion-icon name="pricetag-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="logout()">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-button>


</ion-header>

<ion-content class="background">

  <ion-card>
    <ion-card-title>Lista de Reportes</ion-card-title>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col><strong>Reporte</strong></ion-col>
          <ion-col size="2"><strong>Aceptar</strong></ion-col>
          <ion-col size="2"><strong>Rechazar</strong></ion-col>
        </ion-row>

        <ion-row *ngFor="let reporte of reportes">
          <ion-col>{{ reporte.valoracion }} - {{ reporte.comentario }}</ion-col>
          <ion-col size="2">
            <ion-button fill="solid" color="success"
              (click)="modificarandeliminar(reporte.id_reporte, reporte.id_valoracion)">
              <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="solid" color="danger" (click)="eliminarReporte(reporte.id_reporte)">
              <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>