<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/listar-empresas"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">
  <ion-card>

    <ion-card-title> Modificar Empresa </ion-card-title>

      <ion-card-content>

       <ion-col>
        <ion-label>Dirección</ion-label>
        <ion-input [(ngModel)]="empresa.direccion" name="direccion" type="text"></ion-input>
      </ion-col> 

      <br>

      <ion-col>
        <ion-label>Latitud</ion-label>
        <ion-input [(ngModel)]="empresa.latitud" name="latitud" type="text"></ion-input>
      </ion-col> 

      <br>

      <ion-col>
        <ion-label>Longitud</ion-label>
        <ion-input [(ngModel)]="empresa.longitud" name="longitud" type="text"></ion-input>
      </ion-col>

      <br>

      <ion-col>
        <ion-label>Teléfono Empresa</ion-label>
        <ion-input [(ngModel)]="empresa.telefono_empresa" name="telefono_empresa" type="text"></ion-input>
      </ion-col>

      <br>


          <ion-col>
            <ion-label>ID Comuna</ion-label>
            <ion-select class="opciones" [(ngModel)]="empresa.id_comuna" name="id_comuna">
              <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id_comuna">{{ comuna.nombre_comuna
                }}</ion-select-option>
            </ion-select>
          </ion-col>


        <ion-button class="confirmar" expand="block" (click)="submitForm()">Modificar Empresa</ion-button>
      </ion-card-content>
  </ion-card>
</ion-content>