<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/lista-reportes"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background">

  <ion-card>
    <ion-card-title>Crear Administrador</ion-card-title>

    <br>

    <ion-card-content>

      <ion-col>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="admin.correo_electronico"></ion-input>
      </ion-col>

      <br>

      <ion-col>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input type="text" [(ngModel)]="admin.nombre_completo"></ion-input>
      </ion-col>

      <br>

      <ion-col>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="admin.password"></ion-input>
      </ion-col>

      <br>

      <ion-button class="confirmar" expand="block" (click)="crearAdministrador()">Crear Administrador</ion-button>


    </ion-card-content>
  </ion-card>
</ion-content>